body *{
	font-family: Arial, Helvetica, Verdana, 'Bitstream Vera Sans', sans-serif;
}
.full-width{
	width: 100%;
}
.header-main{
	height: 187px;
	background:  url("../images/all_new.png") no-repeat, url("../images/grad.png") repeat-x scroll 0 1px  #fff;
	padding-top: 20px;
}
.column{
	max-width: 1320px;
	min-width: 780px;
}
.logo{
	margin-right: 150px;
}
.main-wrapper{
	background: #F4F7E7;
}
.after-header{
	background: #D8254F;
	height: 3px;
	margin-bottom: 10px;
}
.menu{
	padding-top:20px;
}
.title{
	color: #D7254F;
	font-size: 20px;
	border-bottom: 1px solid #D6DDB9;
	font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
	font-weight: bold;
	margin-bottom: 5px;
}
.article{
	font-size: 12px;
	color: #666;
	height:18px;
	line-height:18px;
}