
.bs-callout {
    padding: 20px;
    margin: 20px 0px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #EEE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
}
.bs-callout-info {
    border-left-color: #1B809E;
}
div.form-group{
    margin-bottom: 0px;
}
table.table tr td{
    cursor: pointer;
}